<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Python Programming Tutorials</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
	<h1>Who provides internet in my area?</h1>
</header>

<body>
	<h2>Enter your region.</h2>
	<form method="POST" action="/send">
		<div class="form-group">
			<input type="text" class="form-control" name="region" style="width: 75px" ;>
			<button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
		 Submit
		</button>
		</div>
	</form>




</body>

</html>
